<a href="https://colab.research.google.com/github/HpDiniz/Analise-Financeira/blob/main/Projeto_de_Pesquisa_Mestrado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
janela_treino = 1
tipo_interesse = "Geral" # Individual, Geral, Papel, Tijolo ou Hibrido

# 0. Install Dependencies

In [4]:
import warnings;
warnings.simplefilter('ignore')

from sklearn.exceptions import ConvergenceWarning
with warnings.catch_warnings():
    warnings.filterwarnings("ignore", category=ConvergenceWarning)

In [5]:
!pip install pystan --quiet
!pip install statsmodels --quiet
!pip install xgboost==1.6.2 --quiet
!pip install pmdarima --quiet
!pip install mysqlclient --quiet
!pip install psycopg2-binary==2.8.6 --quiet
!pip install mlflow --quiet
!pip install pyngrok --quiet
!pip install unidecode --quiet

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 16.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 91.8/91.8 kB 12.9 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.4/44.4 MB 18.9 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 88.6 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 114.5/114.5 kB 16.3 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 268.8/268.8 kB 18.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 149.6/149.6 kB 16.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.1/49.1 kB 7.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 255.9/255.9 MB 6.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 24.6 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 89.5/89.5 kB 3.7 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
  Preparing metadata (pyproject.toml) ... done
  Building wheel for mysqlclient (pyproject.toml) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 384.7/384.7 kB 7.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for psycopg2-binary (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 18.1/18.1 MB 103.1 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 83.5/83.5 kB 12.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 184.3/184.3 kB 25.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 224.5/224.5 kB 29.5 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 148.1/148.1 kB 19.7 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.5/79.5 kB 10.9 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 78.7/78.7 kB 10.7 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.7/62.7 kB 8.2 MB/s eta 0:00:00
  Building wheel for databricks-cli (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 681.2/681.2 kB 11.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for pyngrok (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 235.9/235.9 kB 4.0 MB/s eta 0:00:00

In [6]:
import os
import bs4
import math
import mlflow
import requests
import itertools

import regex as re
import numpy as np
import pandas as pd

from datetime import date
from getpass import getpass
from bs4 import BeautifulSoup
from unidecode import unidecode
from xgboost import XGBRegressor

from sqlalchemy import create_engine
from dateutil.relativedelta import relativedelta
from statsmodels.tsa.statespace.sarimax import SARIMAX
from sklearn.metrics import mean_squared_error, mean_absolute_error

# 1. Read in Data and Process Dates

In [7]:
this_month = "2023-01"
last_month = "2022-12"

headers = {
    'User-Agent':
        'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_4) AppleWebKit/537.36'
        ' (KHTML, like Gecko) Chrome/51.0.2704.103 Safari/537.36'
}

os.environ['MLFLOW_TRACKING_USERNAME'] = "henrique.p.diniz"
os.environ['MLFLOW_TRACKING_PASSWORD'] = "47df072ea2fe3bd50e27c06cf5eeb20e74460e50"
os.environ['MLFLOW_TRACKING_PROJECTNAME'] = "Projeto-Pesquisa-Mestrado"

experiment_name = f'{last_month}-{tipo_interesse}-{janela_treino}M'
mlflow.set_tracking_uri(f'https://dagshub.com/' + os.environ['MLFLOW_TRACKING_USERNAME'] + '/' + os.environ['MLFLOW_TRACKING_PROJECTNAME'] + '.mlflow')
mlflow_experiment = mlflow.set_experiment(experiment_name)

engine = create_engine('postgresql://qgfnmxab:e0-o4nW4SHQ7sazzIvpKGv7Vc_OFV5Yi@babar.db.elephantsql.com/qgfnmxab', echo=False)

In [8]:
def get_experiments_result(experiment_name, sort_column = ""):

    df = mlflow.search_runs([mlflow_experiment._experiment_id])

    if(len(df) > 0):
        if sort_column in df.columns:
            return df.sort_values(by=sort_column, ascending=True)
        else:
            return df

    return df

def haversine_distance(lat1, lon1, lat2, lon2):
    # Converter graus para radianos
    lat1 = math.radians(lat1)
    lon1 = math.radians(lon1)
    lat2 = math.radians(lat2)
    lon2 = math.radians(lon2)

    # Raio médio da Terra em quilômetros
    radius = 6371

    # Diferença das coordenadas
    dlat = lat2 - lat1
    dlon = lon2 - lon1

    # Fórmula de Haversine
    a = math.sin(dlat/2) ** 2 + math.cos(lat1) * math.cos(lat2) * math.sin(dlon/2) ** 2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
    distance = radius * c

    return distance * 1000

def convert_escape_characters(content):
    pattern = r'\\u([0-9a-fA-F]{4})'

    def replace(match):
        return chr(int(match.group(1), 16))

    return re.sub(pattern, replace, content)

def converteData(datas, monthYearOnly):

    new_array = []
    meses = ["Janeiro","Fevereiro","Março","Abril","Maio","Junho","Julho","Agosto","Setembro","Outubro","Novembro","Dezembro"]

    for data in datas:

        item = data.split("/")
        mes = str(meses.index(item[0])+1)
        mes = ("0" + mes)[len(mes)-1:len(mes)+1]

        new_date = item[1] + "-" + mes

        if not monthYearOnly:
            new_date = new_date + "-01 00:00:00"

        new_array.append(new_date)

    return new_array

def obtem_datas_faltantes(df, date_colun):

    datas_faltantes = []
    start_date = df[date_colun].min()
    end_date = df[date_colun].max()

    while(start_date < end_date):
        date = str(start_date)[0:10]
        df_aux = df[df[date_colun] == date]

        if(len(df_aux) < 1):
            datas_faltantes.append(date)

        start_date = (start_date + relativedelta(days=1))

    return datas_faltantes

def obtem_dados_mercado(indice):

    indice = indice.lower()

    if indice == "igpm":
        indice = "igp-m"

    response = requests.get('https://www.dadosdemercado.com.br/economia/' + indice, headers=headers)
    if response.status_code == 200:
        df_igpm = pd.read_html(response.content, encoding='utf-8')[0]

    anos = list(df_igpm.iloc[:, 0].values)

    timestamp = []
    values = []

    for i in range(len(anos)):
        for m in range(12, 0, -1):
            taxa = str(list(df_igpm.iloc[:, m].values)[i])
            if taxa != '--':
                mes = str(m) if m > 9 else "0" + str(m)
                timestamp.append(str(anos[i]) + "-" + mes)
                values.append(round(float(taxa.replace("%","").replace(",",".")), 2))

    # Create DataFrame
    df_tax = pd.DataFrame({
        'Timestamp': timestamp,
        'Value': values
    })

    df_tax['Value'] = pd.to_numeric(df_tax['Value'], downcast="float")

    return df_tax.replace(0, 0.01)

def get_all_funds():

    response = requests.get('https://www.fundsexplorer.com.br/ranking', headers=headers)
    if response.status_code == 200:
        df = pd.read_html(response.content, encoding='utf-8')[0]

    idx = df[df['Setor'].isna()].index
    df.drop(idx, inplace=True)

    df_funds = df.rename(columns={'Códigodo fundo': 'Ticker'})

    col_categorical = ['Ticker','Setor']
    df_funds[col_categorical] = df_funds[col_categorical].astype('category')

    df_funds.sort_values('Ticker', inplace=True)

    df_funds = df_funds.drop_duplicates(subset=['Ticker']).replace('Títulos e Valores Mobiliários','Títulos e Val. Mob.')

    df_funds = df_funds[['Ticker','Setor','QuantidadeAtivos']].reset_index(drop=True)

    return df_funds

def get_close(fund, years):

    df_close = pd.DataFrame()

    start_date = "01-01-" + str(int(pd.to_datetime('today').strftime("%Y")) - years)
    end_date = pd.to_datetime('today').replace(day=1,hour=0,minute=0,second=0,microsecond=0).strftime("%d-%m-%Y")

    response = requests.get('https://fii-api.infomoney.com.br/api/v1/fii/cotacao/historico/grafico?Ticker='+fund+'&DataInicio='+start_date+'&DataFim='+end_date, headers=headers)

    if not str(response.content) == "b''":

        json_response = json.loads(response.content)

        if 'errors' in json_response:
            print(str(json_response['errors']))
        else:
            df_close = pd.read_json(json.dumps(json_response['dataValor']))

            df_close['Ticker'] = fund
            df_close['Ticker'] = df_close['Ticker'].astype('category')

            df_close.rename(columns={'valor': 'Close'}, inplace = True)

            df_close['Datetime'] = pd.to_datetime(df_close['data'], format='%d-%m-%YT%H:%M:%S')

            df_close.drop(columns={'data'}, inplace = True)

    return df_close.replace(0, 0.01)

def get_dividends(fund, years):

    min_date = str(int(pd.to_datetime('today').strftime("%Y")) - years) + "-01"

    response = requests.get('https://www.fundsexplorer.com.br/funds/' + fund, headers=headers)

    soup = bs4.BeautifulSoup(response.content, "html")
    div = soup.find("div", {"id": "dividends-chart-wrapper"})

    labels = re.findall('"labels":\[.*?\]', str(div))
    dividends = re.findall('"data":\[.*?\]', str(div))

    dividends = json.loads("{" + dividends[0] + "}")['data']
    labels = json.loads("{" + labels[0] + "}")['labels']

    dates = converteData(labels, True)

    result = []
    if len(dates) > 0 and len(dates) == len(dividends):
        for i in range(len(dates)):
            if dates[i] >= min_date:
                result.append({
                    "Ticker": fund,
                    "Datetime": dates[i],
                    "Dividends": round(dividends[i],2)
                })

    df_dividends = pd.DataFrame(result)

    return df_dividends.replace(0, 0.01)

def get_adress(fundo):

    api_url = "https://fii-api.infomoney.com.br/api/v1/propertie/" + fundo
    response = requests.get(api_url)
    data = []

    if '{' in str(response.content):

        response = response.json()

        for item in response["property"]:

            row = {
                "Ticker": fundo,
                "Tipo": item["type"],
                "Nome": item["name"],
                "DataCompra": item["datePurchase"],
                "ValorAreaBrutaLocavel": item["valueGrossLeasableArea"],
                "Estado": item["state"],
                "Cidade": item["city"],
                "Endereco": item["address"],
                "GoogleMapsLink": item["googleMapsLink"],
                "PercentualPartic": item["percentagePartic"],
                "PecentualVacancia": item["percentVacancy"],
                "PercentualInadimplencia90Dias": item["percent90DayDeliquency"],
                "PercentualFii": item["percentFii"],
                "Latitude": float("NaN"),
                "Longitude": float("NaN")
            }

            cordinates = re.findall("(?<=@)[-]*[\d.]*,-[\d.]*", item['googleMapsLink'])

            if(len(cordinates) > 0):
                cordinates = cordinates[0].split(",")
                row["Latitude"], row["Longitude"] = float(cordinates[0]), float(cordinates[1])
            else:

                adress_url = ("https://www.google.com/maps/place/" + item["address"] + "," + item["city"] + "-" + item["state"]).replace(" ", "%20")

                response = requests.get(adress_url)

                cordinates = re.findall("(?<=@)[-]*[\d.]*,-[\d.]*", str(response.content))

                if(len(cordinates) > 0):
                    print("Endereço não encontrado, obtendo Latitude e Longitude aproximada...")
                    cordinates = cordinates[0].split(",")
                    row["Latitude"], row["Longitude"] = float(cordinates[0]), float(cordinates[1])
                else:
                    print("Endereço não encontrado e FALHA ao obter Latitude e Longitude aproximada...")

            data.append(row)

    return pd.DataFrame(data)

def get_month_close(df_close, date):

    year = int(date.split('-')[0])
    month = int(date.split('-')[1])

    start_date = pd.to_datetime('today').replace(year=year, month= month, day=1,hour=0,minute=0,second=0,microsecond=0)
    end_date = (start_date + relativedelta(months=1))

    df_aux = df_close.copy()

    df_aux = df_aux[df_aux['Datetime'] >= start_date]
    df_aux = df_aux[df_aux['Datetime'] < end_date]

    if len(df_aux) > 0:
        return float(df_aux.values[-1][0])
    else:
        return -1

def has_missing_data(df_history):

    min = str(df_history['Datetime'].min())
    max = str(df_history['Datetime'].max())

    year = int(max.split('-')[0])
    month = int(max.split('-')[1])

    start_date = pd.to_datetime('today').replace(year=year, month=month, day=1,hour=0,minute=0,second=0,microsecond=0)

    while str(start_date.strftime("%Y-%m")) != min:

        if not str(start_date.strftime("%Y-%m")) in list(df_history['Datetime']):
            return True

        start_date = (start_date - relativedelta(months=1))

    return False

def get_history(fund, years):

    df_close = get_close(fund, years)
    df_dividends = get_dividends(fund, years)

    df_history = df_dividends.copy()

    if len(df_history) > 0 and len(df_close) > 0:

        new_df = []
        for index, row in df_history.iterrows():

            #print("Procurando 'Close' de: " + row['Datetime'])
            row['Dividends'] = round(row['Dividends'],2)
            row['Close'] = get_month_close(df_close, row['Datetime'])
            new_df.append(row)

        df_history = pd.DataFrame(new_df)

        datas = list(df_history['Datetime'])

        if has_missing_data(df_history):
            print("FII " + fund + " será removido por estar com dados faltantes.")
            df_history = pd.DataFrame()

    return df_history

def process_daily_history(df_history, years):

    # Cria um array de índices
    indices = ['Selic','IPCA','IGPM']

    # Obtém o histórico de índices
    df_indices = {}
    for indice in indices:
        df_indices[indice] = obtem_dados_mercado(indice)

    # Obtém o histórico do IFIX
    df_ifix = get_ifix(2)

    # Cria o histórico diário
    df_history_daily = pd.DataFrame()

    for fund in df_history['Ticker'].unique():

        print("Coletando informações de " + fund + "...")

        df_close = get_close(fund, years)

        df_close["Datetime"] = pd.to_datetime(df_close["Datetime"], format="%Y-%m-%d")

        # Preenche os índices mensais
        meses_percorridos = []

        for index, row in df_close.iterrows():

            data_mes = str(row['Datetime'])[0:7]
            df_aux = df_history[(df_history['Datetime'] == data_mes) & (df_history['Ticker'] == fund)]

            if len(df_aux) < 1 or data_mes in meses_percorridos:
                continue

            meses_percorridos.append(data_mes)
            df_close.loc[(df_close['Ticker'] == fund) & (df_close["Datetime"].dt.strftime("%Y-%m").eq(data_mes)), "Dividends"] = float(df_aux['Dividends'].values[0])

            for indice in indices:
                df_aux = df_indices[indice][df_indices[indice]['Timestamp'] == data_mes]
                df_close.loc[(df_close['Ticker'] == fund) & (df_close["Datetime"].dt.strftime("%Y-%m").eq(data_mes)), indice] = float(df_aux['Value'].values[0])

            df_history_daily = df_history_daily.append(df_close[(df_close['Ticker'] == fund) & (df_close["Datetime"].dt.strftime("%Y-%m").eq(data_mes))])

    # Preenche o IFIX em todas as datas do histórico diário
    datas_percorridos = []
    for index, row in df_history_daily.iterrows():

        data = str(row["Datetime"])[0:10]

        print("Preenchendo IFIX em " + data + "...")

        if data not in datas_percorridos:

            df_aux = df_ifix[df_ifix['Datetime'] == data]

            if(len(df_aux) > 0):

                df_history_daily.loc[(df_history_daily["Datetime"].dt.strftime("%Y-%m-%d").eq(data)), "IFIX"] = float(df_aux['Close'].values[0])
                datas_percorridos.append(data)

    return df_history_daily

def preenche_historico_faltante(df_history_daily):

    # Percorre todos os ativos do histórico
    for ticker in df_history_daily['Ticker'].unique():

        print("Adicionando dados faltantes de " + ticker + "...")

        # Obtém o histórico específico do ativo
        df_aux = df_history_daily[df_history_daily['Ticker'] == ticker].copy()

        # Obtém a menor e a maior data do histórico do ativo
        start_date = pd.to_datetime(df_aux['Datetime']).min() + relativedelta(days=1)
        end_date = pd.to_datetime(df_aux['Datetime']).max()

        # Percorra todas as datas do intervalo
        while(start_date < end_date):

            # Caso não haja algum registro no histórico para a data atual...
            if (len(df_aux[df_aux['Datetime'].dt.strftime("%Y-%m-%d").eq(str(start_date)[0:10])]) < 1):

                # Obtém a data de ontém
                ontem = (start_date - relativedelta(days=1))

                # Obtém os registros de ontém
                df_ontem = df_history_daily[(df_history_daily['Ticker'] == ticker) & (df_history_daily['Datetime'].dt.strftime("%Y-%m-%d").eq(str(ontem)[0:10]))]

                # Adiciona a data faltante no histórico
                df_history_daily = df_history_daily.append(pd.DataFrame({
                    "Close": df_ontem['Close'].values[0],
                    "Dividends": df_ontem['Dividends'].values[0],
                    "Ticker": [ticker],
                    "Datetime": [start_date],
                    "Selic": df_ontem['Selic'].values[0],
                    "IPCA": df_ontem['IPCA'].values[0],
                    "IGPM": df_ontem['IGPM'].values[0],
                    "IFIX": df_ontem['IFIX'].values[0]
                }))

            # Incrementa a data de início
            start_date = (start_date + relativedelta(days=1))

    # Ordena todos os registros pelo Ticker e Data
    df_history_daily.sort_values(by=['Ticker', 'Datetime'], inplace = True)
    df_history_daily = df_history_daily.reset_index(drop = True)
    return df_history_daily

def process_history(df_funds, years):

    df_adress = pd.DataFrame()
    df_history = pd.DataFrame()

    # Percorre a lista de fundos para obter o histórico individual de cada um deles
    for fund in df_funds['Ticker']:

        print("Coletando informações de " + fund + "...")

        df_aux_1 = get_adress(fund)
        df_aux_2 = get_history(fund, years)

        df_adress = df_adress.append(df_aux_1)
        df_history = df_history.append(df_aux_2)

        print(str(len(df_aux_2)) + " dados de histórico e " + str(len(df_aux_1)) + " endereços foram encontrados.")

    is_NaN = df_history.isnull()
    row_has_NaN = is_NaN.any(axis=1)
    rows_with_NaN = df_history[row_has_NaN]
    tickers = rows_with_NaN['Ticker'].unique()
    df_history = df_history[~df_history['Ticker'].isin(tickers)]

    df_history = df_history[df_history['Datetime'] <= last_month]
    df_history = df_history.drop_duplicates().replace(np.inf, 0).replace(-np.inf,0).replace(0,0.001)

    for fund in df_history["Ticker"].unique():
        if(len(df_history[df_history["Ticker"] == fund]) < 12):
            df_history = df_history[df_history["Ticker"] != fund]

    a = df_history[df_history['Datetime'] == last_month].Ticker.values
    b = df_history.Ticker.unique()
    intersection = list(set(a) & set(b))
    fundos_faltantes = list(set(a) ^ set(b))

    df_history = df_history[~df_history['Ticker'].isin(fundos_faltantes)]

    return df_history, df_adress

def remove_big_variations(df, col_dict):

    drop_indexes = []
    for index, fundo in enumerate(df['Ticker'].unique()):
        df_variacoes = df[df["Ticker"] == fundo]

        for key in col_dict:
            df_variacoes = df_variacoes[(abs(df[key]) >= col_dict[key])]

            if len(df_variacoes) > 0:
                drop_indexes = drop_indexes + list(df[(df["Datetime"] <= df_variacoes["Datetime"].values[-1]) & (df.Ticker == fundo)].index)

    df = df.drop(drop_indexes)
    ticker_before = df["Ticker"].unique()

    # Remove fundos que não possuem pelo menos 20 registros
    for fund in df["Ticker"].unique():
        if(len(df[df["Ticker"] == fund]) < 20):
            df = df[df["Ticker"] != fund]

    print("Tickers removidos: ", set(ticker_before) - set(df["Ticker"].unique()))

    return df

def ajusta_desdobramento(df):

    # Desdobramentos obtidos em: https://br.investing.com/stock-split-calendar/
    desdobramentos = {
        "BTCI11": ["2023-01", 9],
        "CYCR11": ["2022-10", 10],
        "EQIR11": ["2022-09", 10],
        "VGIR11": ["2022-09", 10],
        "GALG11": ["2022-08", 10],
        "ARRI11": ["2022-08", 10],
        "VIUR11": ["2022-05", 10],
        "XPSF11": ["2022-05", 10],
        "VIFI11": ["2022-04", 10],
        "GAME11": ["2022-03", 10],
        "BLMR11": ["2021-09", 10],
        "MAXR11": ["2021-04", 19],
        "RMAI11": ["2021-03", 10],
        "FISC11": ["2020-12", 10],
        "PQAG11": ["2020-11", 10]
    }

    for key in desdobramentos:
        if len(df[df["Ticker"] == key]) > 0:
            for index, row in df.iterrows():
                if row["Ticker"] == key and row["Datetime"] < desdobramentos[key][0]:
                    df.at[index,'Close'] = round(row['Close']/ desdobramentos[key][1],2)

def getSectorMeans(df_funds, df_history):

    df_setores = pd.DataFrame(({
        'Setor':[],
        'Datetime':[],
        'DividendsChangeMean' :[],
        'CloseChangeMean':[],
        'DividendYieldChangeMean':[],
        'DividendsChangeMean6M' :[],
        'CloseChangeMean6M':[],
        'DividendYieldChangeMean6M':[]
    }))

    for setor in df_funds["Setor"].unique():

        setor_tickers = df_funds[df_funds["Setor"] == setor]["Ticker"].values

        df_sector = df_history[df_history["Ticker"].isin(setor_tickers)]
        min_date = pd.to_datetime(df_sector["Datetime"].min()).replace(day=1)
        max_date = pd.to_datetime(df_sector["Datetime"].max()).replace(day=1)

        while min_date <= max_date:

            date = (min_date).strftime("%Y-%m")

            df_setores = df_setores.append({
                'Setor': setor,
                'Datetime':date,
                'DividendsChangeMean': df_sector[df_sector["Datetime"] == date]["DividendsChange"].mean(),
                'CloseChangeMean': df_sector[df_sector["Datetime"] == date]["CloseChange"].mean(),
                'DividendYieldChangeMean': df_sector[df_sector["Datetime"] == date]["DividendYieldChange"].mean(),
                'DividendsChangeMean6M': df_sector[df_sector["Datetime"] == date]["DividendsChange6M"].mean(),
                'CloseChangeMean6M': df_sector[df_sector["Datetime"] == date]["CloseChange6M"].mean(),
                'DividendYieldChangeMean6M': df_sector[df_sector["Datetime"] == date]["DividendYieldChange6M"].mean(),
            }, ignore_index=True)

            min_date = min_date + relativedelta(months=1)

    return df_setores

def get_ifix(years):

    df_ifix = pd.DataFrame()
    final_date = pd.to_datetime('today').strftime("%d-%m-%Y").replace("-","%2F")
    initial_date = str(int(pd.to_datetime('today').strftime("%Y")) - years) + "-01-01"

    try:
        df_ifix = pd.read_sql('df_ifix_' + str(initial_date) + "_" + str(final_date), engine)
    except:

        headers_aux = {
            'authority':'www.infomoney.com.br',
            'accept':'application/json, text/javascript, */*; q=0.01',
            'accept-language':'pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7',
            'content-type':'application/x-www-form-urlencoded; charset=UTF-8',
            'authority': 'www.infomoney.com.br',
            'origin':'https://www.infomoney.com.br',
            'referer':'https://www.infomoney.com.br/cotacoes/b3/indice/ifix/historico/',
        }

        body_aux = 'page=0&numberItems=99999&initialDate='+initial_date+'&finalDate='+final_date+'&symbol=IFIX'

        response = requests.post('https://www.infomoney.com.br/wp-json/infomoney/v1/quotes/history', headers=headers_aux,  data=body_aux)

        if not str(response.content) == "b''":

            json_response = json.loads(response.content)

            jobject = []
            for obj in json_response:
                jobject.append({
                    'data': obj[0]['display'],
                    'Close': obj[2]
                })

            df_ifix = pd.DataFrame(jobject)
            df_ifix['Datetime'] = pd.to_datetime(df_ifix['data'], format='%d/%m/%Y')
            df_ifix.drop(columns={'data'}, inplace = True)

            if (len(df_ifix) > 1):
                df_ifix.to_sql('df_ifix_' + str(initial_date) + "_" + str(final_date), engine, if_exists='replace', index=False)

    return df_ifix

def add_pct_changes(df_history):

    # Cria o DataFrame a ser aprimorado
    df_improved = df_history.copy()

    # Remove fundos que não possuem dados do mês anterior
    df_improved = df_improved[df_improved['Datetime'] <= last_month]
    df_improved = df_improved.drop_duplicates().replace(np.inf, 0).replace(-np.inf,0).replace(0,0.001)

    # Remove fundos que não possuem pelo menos 12 registros
    for fund in df_improved["Ticker"].unique():
        if(len(df_improved[df_improved["Ticker"] == fund]) < 12):
            df_improved = df_improved[df_improved["Ticker"] != fund]

    # Normaliza os dados que sofreram desdobramento
    ajusta_desdobramento(df_improved)
    df_improved = df_improved.replace(np.inf, 0).replace(-np.inf,0).replace(0,0.001)

    # Cria a coluna DividendYield
    df_improved['DividendYield'] = round(100*df_improved['Dividends']/df_improved['Close'],6)

    # Cria novas colunas contendo a variação de valores ao longo dos meses
    for index, fundo in enumerate(df_improved['Ticker'].unique()):
        df_improved.loc[df_improved.Ticker == fundo, 'DividendsChange'] = round(df_improved[df_improved.Ticker == fundo]['Dividends'].pct_change(),6)
        df_improved.loc[df_improved.Ticker == fundo, 'CloseChange'] = round(df_improved[df_improved.Ticker == fundo]['Close'].pct_change(),6)
        df_improved.loc[df_improved.Ticker == fundo, 'DividendYieldChange'] = round(df_improved[df_improved.Ticker == fundo]['DividendYield'].pct_change(),6)
        df_improved.loc[df_improved.Ticker == fundo, 'DividendsChange6M'] = round(df_improved[df_improved.Ticker == fundo]['Dividends'].pct_change(periods=6),6)
        df_improved.loc[df_improved.Ticker == fundo, 'CloseChange6M'] = round(df_improved[df_improved.Ticker == fundo]['Close'].pct_change(periods=6),6)
        df_improved.loc[df_improved.Ticker == fundo, 'DividendYieldChange6M'] = round(df_improved[df_improved.Ticker == fundo]['DividendYield'].pct_change(periods=6),6)

    # Procura no DataFrame registros com variações muito discrepantes
    df_improved = remove_big_variations(df_improved, {'DividendsChange': 500, 'CloseChange': 0.35})

    return df_improved

def improve_history(df_history, df_funds):

    df_improved = add_pct_changes(df_history)

    df_sectors = getSectorMeans(df_funds, df_improved)

    # Cria um array de índices
    indices = ['Selic','IPCA','IGPM']

    # Obtém o histórico do IFIX
    df_ifix = get_ifix(2)

    # Obtém o histórico de índices
    df_indices = {}
    for indice in indices:
        df_indices[indice] = obtem_dados_mercado(indice)

    # Cria as colunas dos índices
    for indice in indices:
        df_improved[indice] = float("NaN")

    # Insere preço dos índices e a média do setor ao longo do tempo
    for index, fundo in enumerate(df_improved['Ticker'].unique()):

        print(str(index+1) + "/" + str(len(df_improved['Ticker'].unique())))

        sector = df_funds[df_funds["Ticker"] == fundo]["Setor"].values[0]

        for data in df_improved['Datetime']:

            df_improved.loc[(df_improved.Ticker == fundo) & (df_improved.Datetime == data), "IFIX"] = get_month_close(df_ifix, data)

            sector_values = df_sectors[(df_sectors["Datetime"] == data) & (df_sectors["Setor"] == sector)]

            if len(sector_values) > 0:
                for mean_col in ["DividendsChangeMean", "CloseChangeMean", "DividendYieldChangeMean"]:
                    mean_value = sector_values[mean_col].values[0]
                    df_improved.loc[(df_improved.Ticker == fundo) & (df_improved.Datetime == data), "Sector" + mean_col] = float(mean_value)

            for indice in indices:
                indice_values = df_indices[indice][df_indices[indice].Timestamp == data]['Value'].values
                if len(indice_values) > 0:
                    df_improved.loc[(df_improved.Ticker == fundo) & (df_improved.Datetime == data), indice] = float(indice_values[0])


    df_improved['IFIX'] = df_improved['IFIX'].astype(float)
    df_improved = remove_big_variations(df_improved, {'CloseChange': 0.35})

    return df_improved

In [9]:
if False:
    # Obtém a lista de todos os fundos imobiliários existentes
    try:
        df_funds = pd.read_sql('df_funds_' + last_month, engine)
    except:
        df_funds = get_all_funds()
        df_funds.to_sql('df_funds_' + last_month, engine, if_exists='replace', index=False)

In [10]:
if False:
    # Obtém o histórico de todos os fundos imobiliários existentes
    try:
        df_adress = pd.read_sql('df_adress_' + last_month, engine)
        df_history = pd.read_sql('df_history_' + last_month, engine)
    except:
        df_history, df_adress = process_history(df_funds, 2)
        df_adress.to_sql('df_adress_' + last_month, engine, if_exists='replace', index=False)
        df_history.to_sql('df_history_' + last_month, engine, if_exists='replace', index=False)

    print(str(len(df_history)) + " históricos de fundos imobiliários foram encontrados.")
    print(str(len(df_adress)) + " endereços de fundos imobiliários foram encontrados.")

    percent = df_adress['Latitude'].isnull().sum()/(len(df_adress))*100
    print("%.2f%% dos endereços estão sem Latitude e Longitude." % percent)

In [11]:
if False:
    # Obtém o histórico aprimorado de todos os fundos imobiliários existentes
    try:
        df_history = pd.read_sql('df_history_improved_' + last_month, engine)
    except:
        df_history = improve_history(df_history, df_funds)
        df_history.to_sql('df_history_improved_' + last_month, engine, if_exists='replace', index=False)

In [12]:
df_funds_202212 = pd.read_csv("https://raw.githubusercontent.com/HpDiniz/Analise-Financeira/main/df_funds_2022-12.csv", encoding ='iso-8859-1', sep=";").set_index('Unnamed: 0')
df_funds_202212.index.name = None

df_adress_202212 = pd.read_csv("https://raw.githubusercontent.com/HpDiniz/Analise-Financeira/main/df_adress_2022-12.csv", sep=",").set_index('Unnamed: 0')
df_adress_202212.index.name = None

df_history_202212 = pd.read_csv("https://raw.githubusercontent.com/HpDiniz/Analise-Financeira/main/df_history_2022-12.csv", encoding ='iso-8859-1', sep=";").set_index('Unnamed: 0')
df_history_202212.index.name = None

invalid_tickers = list(df_history_202212[(df_history_202212['CloseChange'] == 0.0) & (df_history_202212['CloseChange'].shift(1) == 0.0) & (df_history_202212['CloseChange'].shift(2) == 0.0)].Ticker.unique())
df_history_202212 = df_history_202212[~(df_history_202212['Ticker'].isin(invalid_tickers))]

In [13]:
df_adress_202212

,Ticker,Tipo,Nome,DataCompra,ValorAreaBrutaLocavel,Estado,Cidade,Endereco,GoogleMapsLink,PercentualPartic,PecentualVacancia,PercentualInadimplencia90Dias,PercentualFii,Latitude,Longitude
0,ABCP11,Shopping Tradicional,Grand Plaza Shopping,30-05-2009T21:00:00,69503.00,SP,Santo André,"Avenida Industrial , 600","https://www.google.com/maps/@-23.6498911,-46.5...",98.60,3.95,1.53,97.41,-23.649891,-46.532736
1,AIEC11,Prédio Corporativo,Rochavera,NaN,14648.00,SP,São Paulo,"Avenida das Nações Unidas, 14.171",https://www.google.com/maps/place/Regus+-+Sao+...,0.00,0.00,0.00,69.42,-23.622412,-46.701606
2,AIEC11,Outros,Standard Building,NaN,8341.00,RJ,Rio de Janeiro,"Avenida Presidente Wilson, 118",https://www.google.com/maps/place/Av.+Pres.+Wi...,0.00,0.00,0.00,30.58,-22.912232,-43.173986
3,ALMI11,Laje Corporativa,Edificio Torre Almirante,NaN,16587.00,RJ,Rio de Janeiro,Av. Almirante Barroso 81,https://www.google.com/maps/place/Av.+Alm.+Bar...,0.00,58.90,0.00,89.90,-22.907451,-43.175119
4,ALZR11,Outros,Air Liquide São Paulo/SP,NaN,5008.00,SP,São Paulo,Av. Presidente Wilson 5.874,https://www.google.com/maps/uv?hl=pt-BR&pb=!1s...,0.00,0.00,0.00,4.43,-23.601014,-46.584170
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086,XPPR11,Prédio Corporativo,Edifício Corporate Evolution,29-12-2019T21:00:00,33613.00,SP,Barueri,"Alameda Xingu, nº 512",https://www.google.com/maps/place/Alameda+Xing...,65.00,54.00,0.00,33.00,-23.505073,-46.851272
1087,XPPR11,Laje Corporativa,Edifício Itower,17-12-2020T21:00:00,23548.00,SP,Barueri,"Alameda Xingu, nº 350",NaN,60.00,32.30,0.00,55.00,NaN,NaN
1088,XPPR11,Prédio Corporativo,Edifício Módulo Rebouças,19-12-2019T21:00:00,1053.00,SP,São Paulo,"Rua Capote Valente, nº 39",https://www.google.com/maps/place/R.+Capote+Va...,14.56,0.00,0.00,8.00,-23.560756,-46.673324
1089,XPPR11,Prédio Corporativo,Edificio Santa Catarina,13-02-2020T21:00:00,14440.26,SP,São Paulo,"Avenida Paulista, 293",https://maps.google.com.br/maps?q=avenida+paul...,3.50,0.00,0.00,4.00,NaN,NaN
1090,XTED11,Prédio Corporativo,Atlântico Offices,NaN,7463.71,RJ,Macaé,"Avenida Rui Barbosa, 2390",https://www.google.com/maps/uv?pb=!1s0x9631255...,0.00,0.00,0.00,0.00,NaN,NaN

In [45]:
def get_targets(target, latitude, longitude):

    url = f'https://www.google.com.br/maps/search/{target}/@{latitude},{longitude},15z/data=!3m1!4b1?entry=ttu'

    response = requests.get(url, headers=headers)
    content = response.content.decode('utf-8')
    content = content.replace('\\\\u0026','&')

    pattern_without_rating = r'((?:-|\+)\d+\.\d+),((?:-|\+)\d+\.\d+)\],\\"0x\w+?:0x\w+?\\",\\\"(.*?)\\"'
    pattern_with_rating = r'([012345]{1}\.\d{1}),(\d+)\](?:,.*?){7}((?:-|\+)\d+\.\d+),((?:-|\+)\d+\.\d+)\],\\"0x\w+?:0x\w+?\\",\\\"(.*?)\\"'

    match_without_rating = re.findall(pattern_without_rating, content)
    match_with_rating = re.findall(pattern_with_rating, content)

    print(f'{len(match_without_rating)} estabelecimentos encontrados.')

    result = []
    for m in match_with_rating + match_without_rating:

        is_duplicate = any(item['nome'] == m[-1] for item in result)

        if not is_duplicate:
            result.append({
                'rating': float(m[0]) if len(m) == 5 else 0,
                'evaluators': int(m[1]) if len(m) == 5 else 0,
                'latitude': float(m[-3]),
                'longitude': float(m[-2]),
                'distance': haversine_distance(latitude, longitude, float(m[-3]), float(m[-2])),
                'nome': m[-1]
            })


    result = sorted(result, key=lambda x: x['distance'])

    return pd.DataFrame(result)

In [46]:
target = 'restaurantes'
latitude = -19.8661114
longitude = -44.5958394

In [47]:
get_targets('restaurante', latitude, longitude)

20 estabelecimentos encontrados.

,rating,evaluators,latitude,longitude,distance,nome
0,4.5,2,-19.865927,-44.594908,99.503168,Restaurante Porciúncula
1,0.0,0,-19.863515,-44.592775,431.347001,Restaurante JM
2,4.8,16,-19.865713,-44.600076,445.276020,Sabor De Minas
3,0.0,0,-19.873221,-44.597900,819.388549,São Luiz Restaurante Pará de Minas
4,4.6,14,-19.867713,-44.603796,850.971001,Restaurante Fogão a Lenha
5,0.0,0,-19.864175,-44.605096,991.746918,TIM DA BRASA
6,0.0,0,-19.864187,-44.605730,1056.246551,Restaurante Boi Na Brasa
7,4.7,183,-19.863363,-44.606442,1150.135160,Restaurante Vila do Pará
8,0.0,0,-19.876603,-44.598941,1210.866921,Restaurante Sabor de Minas ( Restaurante da Fe...
9,4.7,119,-19.860600,-44.607138,1331.074580,CHEFF Restaurante
10,3.5,10,-19.860808,-44.608587,1457.736797,LA Praça Restaurante
11,0.0,0,-19.873188,-44.608255,1518.209695,Restaurante Belvedere
12,4.6,341,-19.865746,-44.611984,1688.835047,Rodrigo Bar e Restaurante
13,4.2,64,-19.859297,-44.610298,1691.258941,Restaurante Cantinho Mineiro
14,0.0,0,-19.865604,-44.612110,1702.487745,"Neide Bar, Restaurante e Congelados"
15,4.6,186,-19.881126,-44.602186,1796.630053,Restaurante Capixaba
16,4.6,56,-19.855164,-44.582678,1837.501494,Baluarte Bistrô
17,0.0,0,-19.880972,-44.605003,1910.181580,Restaurante Avenida
18,0.0,0,-19.854477,-44.611190,2061.742179,La Gruta Bistrô

In [48]:
get_targets('farmácia', latitude, longitude)

20 estabelecimentos encontrados.

,rating,evaluators,latitude,longitude,distance,nome
0,4.8,23,-19.865420,-44.595774,77.205946,Drogaria Americana
1,0.0,0,-19.862865,-44.589699,736.639094,Drogasil
2,0.0,0,-19.864160,-44.603882,868.578420,Drogaria Silveira Rios E Silva Ltda
3,0.0,0,-19.864160,-44.603882,868.578420,Drogamax
4,0.0,0,-19.864825,-44.604756,943.382822,Droga Rede Nossa Senhora da Piedade
5,0.0,0,-19.864719,-44.604751,944.683597,Farmácia Ferreira
6,0.0,0,-19.864370,-44.604840,960.972812,Drugstores Ultra Popular
7,3.5,2,-19.864911,-44.605079,975.393496,Farmácia Simoes Eleuterio
8,4.4,21,-19.864163,-44.605230,1005.638633,Farmácia Cruzeiro
9,2.8,83,-19.863980,-44.605300,1017.321170,Araujo Drugstore
10,0.0,0,-19.863064,-44.606326,1147.841591,Farmácia de Lourdes
11,0.0,0,-19.862728,-44.606621,1188.627961,Drogaria Faria Hanke
12,4.2,37,-19.862024,-44.607355,1287.172078,Drogaria São José(Droga Rede 24h)
13,0.0,0,-19.861438,-44.607184,1295.282400,Drogaria Freitas & Gouveia
14,0.0,0,-19.860014,-44.607532,1398.147616,Farmácia Laender E Ferreira
15,4.9,16,-19.861070,-44.608574,1444.974617,Droga Rede Pará de Minas Drogaminas
16,0.0,0,-19.871951,-44.579081,1868.979158,Drogaria Inova Recanto
17,0.0,0,-19.875118,-44.576683,2239.686290,DROGARIA RECANTO FARMA LTDA
18,4.7,6,-19.850489,-44.610146,2292.703935,Drogaria Poupa Minas

In [49]:
get_targets('cemitério', latitude, longitude)

20 estabelecimentos encontrados.

,rating,evaluators,latitude,longitude,distance,nome
0,4.3,6,-19.857434,-44.611681,1917.214120,Velório Municipal
1,0.0,0,-19.856216,-44.613192,2122.220295,Cemitério Municipal Santo Antonio
2,0.0,0,-19.856699,-44.617237,2470.447311,Cemitério Buracão
3,0.0,0,-19.790278,-44.569343,8876.121487,Cemitério Santo Antônio
4,0.0,0,-19.909335,-44.698475,11759.005195,Velório municipal
5,0.0,0,-19.909897,-44.698507,11787.743259,Cemitério de Antunes
6,0.0,0,-19.960401,-44.700246,15135.081623,Cemitério da Paz
7,0.0,0,-19.733590,-44.670362,16671.200507,Cemitério de Jaguara de Minas
8,0.0,0,-19.728945,-44.493350,18644.145566,Cemitério
9,0.0,0,-20.011018,-44.470623,20759.126205,Velório Municipal Miguel Cândido Júnior
10,2.5,4,-19.988204,-44.423964,22519.728906,Velorio Municipal Jose Amancio Vilaça e Cemité...
11,4.5,2,-20.070215,-44.608360,22732.953283,Cemitério Santanense
12,4.5,4,-20.074323,-44.582662,23192.951583,Cemitério Central de Itaúna
13,0.0,0,-20.074793,-44.581944,23249.729726,Cemitério Central
14,0.0,0,-19.989989,-44.414259,23453.113075,Cemitério Parque da Realidade
15,0.0,0,-19.990248,-44.413938,23497.146876,Cemitério Municipal de Mateus Leme
16,3.8,4,-20.086360,-44.612341,24551.111367,Cemitério Parque Jardim
17,0.0,0,-19.625505,-44.662894,27659.335996,Cemitério Municipal de Pequi-MG
18,3.5,4,-19.679346,-44.884076,36619.101187,Cemitério Municipal

In [50]:
get_targets('presídio', latitude, longitude)

20 estabelecimentos encontrados.

,rating,evaluators,latitude,longitude,distance,nome
0,0,0,-19.838887,-44.569743,4075.978618,Complex Penitentiary Doctor Pio Canedo
1,0,0,-20.073935,-44.581222,23159.358139,Presidio of Itauna
2,0,0,-19.960993,-44.337182,29026.922505,Presídio de Juatuba
3,0,0,-20.121323,-44.830668,37515.776846,Presídio Floramar
4,0,0,-19.981016,-44.238844,39446.736541,Centro de remanejamento provisório de Betim 1 ...
5,0,0,-19.865743,-45.000355,42303.292137,Polícia penal de Minas Gerais - Presídio de No...
6,0,0,-20.040782,-44.227586,43112.584859,Presídio de São Joaquim de Bicas II
7,0,0,-20.041646,-44.224594,43435.011885,Presídio de São Joaquim de Bicas 1
8,0,0,-19.820214,-44.141167,47828.448324,Nelson Hungria Penitentiary
9,0,0,-20.145245,-44.216122,50373.258824,Presídio de Brumadinho 1 (Pres-BMO 1)
10,0,0,-19.734985,-44.124134,51459.053727,GPA - public private Penitentiary
11,0,0,-19.763060,-44.092015,53937.126963,Presídio de Ribeirão das Neves I- JMA
12,0,0,-19.790961,-44.069789,55657.034095,Presidio Antonio Dutra Ladeira
13,0,0,-19.790899,-44.069698,55667.447673,PRESÍDIO DE RIBEIRÃO DAS NEVES I
14,0,0,-19.790460,-44.063643,56301.046682,Prison Inspector Martin José Drumond
15,0,0,-20.019917,-44.056947,58867.754718,Presídio Regional de Ibirité
16,0,0,-19.557841,-44.084547,63557.292913,Presídio de Matozinhos
17,0,0,-19.626864,-44.040811,63889.293545,Presídio de Pedro Leopoldo
18,0,0,-19.770456,-43.935770,69863.631293,Presídio Municipal De Santa Luzia
19,0,0,-19.676426,-43.948548,70940.644441,Presídio de Vespasiano

In [51]:
get_targets('academia', latitude, longitude)

20 estabelecimentos encontrados.

,rating,evaluators,latitude,longitude,distance,nome
0,0.0,0,-19.865295,-44.597459,192.185316,Cross Experience Para de Minas
1,0.0,0,-19.866336,-44.601156,556.524854,Academia Américos Combate
2,4.6,60,-19.863577,-44.589795,692.116668,Maria Diniz Academia
3,0.0,0,-19.872685,-44.597366,748.207571,Academia You Fitness Center São Luiz
4,4.7,27,-19.862509,-44.588792,838.805731,Academia Energia
5,0.0,0,-19.874917,-44.594682,986.619718,Academia Exclusive Personal
6,4.9,45,-19.877616,-44.596508,1281.172389,Academia Home Fit
7,4.9,74,-19.854464,-44.596570,1297.408345,ELITE CENTER FITNESS
8,4.8,33,-19.862763,-44.610304,1557.895704,Lipoqueima
9,4.5,83,-19.861981,-44.610148,1565.262431,Fiver Academia Personal Studio
10,4.6,117,-19.859672,-44.609197,1569.765316,Perfil Academia Ltda
11,4.8,69,-19.869676,-44.610430,1576.474828,academia hércules
12,4.9,56,-19.862803,-44.611470,1675.545889,Cross Fitness Academia
13,4.8,73,-19.857865,-44.610495,1785.999764,Academia You Fitness Center
14,0.0,0,-19.857865,-44.610495,1785.999764,CrossFit Pará de Minas
15,4.9,23,-19.864600,-44.615762,2090.273650,Saulo Oliveira Studio Personalizado
16,0.0,0,-19.848543,-44.607780,2318.505411,Buffalos Cross Training
17,4.9,469,-19.850061,-44.610283,2338.156821,Academia Pratique Fitness - Pará de Minas
18,4.7,46,-19.847334,-44.609355,2521.381169,Academia Corpo & Arte
19,4.7,66,-19.842137,-44.616474,3429.847287,Arena Academia

In [52]:
get_targets('escola', latitude, longitude)

20 estabelecimentos encontrados.

,rating,evaluators,latitude,longitude,distance,nome
0,0.0,0,-19.866215,-44.595658,22.178453,EE Fernando Otávio
1,4.6,10,-19.866095,-44.595281,58.455291,Escola Estadual Frei Concórdio
2,0.0,0,-19.866396,-44.594075,187.259478,Associação de Pais e Amigos dos Excepcionais E...
3,3.3,3,-19.865449,-44.590798,532.358165,Pré-Escola Municipal Maria Tereza Brochado e S...
4,4.3,23,-19.863611,-44.601698,672.835294,Colégio Losango
5,3.4,32,-19.864097,-44.587644,885.812527,Ee Coronel João Ferreira
6,4.8,13,-19.861477,-44.602929,902.891358,College Berlaar Sacred Heart of Mary
7,4.3,3,-19.869968,-44.604900,1040.035189,EE Professor Pereira Da Costa
8,4.6,9,-19.875273,-44.598408,1053.567994,Municipal School Don Bosco
9,4.6,14,-19.862958,-44.605431,1062.636784,Escola Estadual Torquato De Almeida
10,0.0,0,-19.862100,-44.586410,1082.239274,Apogeu Pará de Minas - Escola do Berçário ao E...
11,0.0,0,-19.865290,-44.607017,1172.451186,Ee Professor Geraldo Martins Ferreira E Melo
12,4.7,7,-19.860070,-44.608050,1442.898809,Ee Governador Valadares
13,0.0,0,-19.876928,-44.607109,1683.952052,Escola Municipal Prefeito Jose Porfirio De Oli...
14,4.7,14,-19.864551,-44.612172,1716.793245,State School Manoel Batista
15,4.7,6,-19.864964,-44.612884,1787.027433,Estação do Saber Educação Infantil e Ensino Fu...
16,4.8,8,-19.871787,-44.579424,1828.968126,Municipal school Orosina Cecilio Mendonca
17,4.5,13,-19.853023,-44.615038,2479.809056,Ee Clóvis Salgado
18,4.5,2,-19.852594,-44.614951,2500.816723,Escola Gotinha Do Saber
19,0.0,0,-19.880285,-44.573759,2795.607828,Escola Municipal Profesora Amelia Guimaraes

In [53]:
get_targets('Supermercado', latitude, longitude)

20 estabelecimentos encontrados.

,rating,evaluators,latitude,longitude,distance,nome
0,4.2,735,-19.866111,-44.594167,174.927017,Paraense Supermarket ltda
1,4.3,863,-19.865867,-44.599519,385.723229,Panelão Supermercados
2,4.3,2094,-19.863487,-44.600262,546.828756,Hiper ABC
3,4.3,1398,-19.862078,-44.599959,621.904654,Supermercados BH
4,4.2,42,-19.862099,-44.605938,1146.458567,Supermercado Peixoto & Filhos
5,4.1,104,-19.861420,-44.606841,1263.305761,Supermarket Peixoto and Children
6,4.5,12,-19.867023,-44.608151,1291.506198,Mercearia Sao Geraldo
7,4.1,35,-19.864700,-44.608302,1312.705662,Supermercado Independência
8,4.4,54,-19.867367,-44.582308,1421.955298,Verdurão
9,4.2,82,-19.867566,-44.582194,1436.109863,Supermercado Panelinha
10,4.1,181,-19.879947,-44.597285,1545.819539,Supermercado Mais - Loja Pará de Minas
11,0.0,0,-19.858748,-44.609134,1613.549554,Supermercado Coquinho
12,4.4,134,-19.858372,-44.609383,1657.379269,Supermercados Rena
13,4.5,24,-19.850595,-44.598685,1750.850603,Mercearia Somar
14,4.2,280,-19.870753,-44.578905,1844.663886,Supermercado Jasco
15,4.9,14,-19.850468,-44.602098,1858.502318,Padaria e Mercearia América
16,4.6,104,-19.853082,-44.614225,2407.535783,Super Amigão
17,3.6,14,-19.877520,-44.575787,2450.861305,Babalu Supermercados
18,4.3,1203,-19.849714,-44.613362,2585.125909,Supermercado Martins

In [54]:
get_targets('estádio', latitude, longitude)

20 estabelecimentos encontrados.

,rating,evaluators,latitude,longitude,distance,nome
0,4.5,90,-19.863410,-44.601174,633.572820,Estadio Do Paraense
1,4.5,16,-19.863030,-44.601660,698.571209,Estadio Ovidio de Abreu
2,4.7,7,-19.871406,-44.608166,1417.137876,"Estádio Edson Campolina, campo do Rio Branco F..."
3,4.2,211,-19.855969,-44.609013,1780.471533,Estádio Prefeito José Porfírio de Oliveira
4,3.6,72,-19.703928,-44.556928,18487.826711,Estádio Moreirão
5,4.1,184,-19.997108,-44.438728,21952.413715,Municipal stadium \\
6,0.0,0,-20.067403,-44.604725,22401.871128,Estádio de Santanense
7,4.2,71,-20.069286,-44.584953,22620.646928,Estádio Municipal Divino Ribeiro Leite (Divinão)
8,0.0,0,-20.067049,-44.550583,22838.332994,Estádio municipal Alcides Pio
9,0.0,0,-20.071234,-44.563011,23065.212882,Estádio Municipal Padre Luiz Turkenburg
10,4.1,137,-20.083503,-44.579848,24230.597195,José Flávio de Carvalho Municipal Stadium
11,4.6,216,-19.949482,-44.236945,38650.633303,Arena Vera Cruz
12,4.3,1244,-19.478495,-44.222793,58166.577694,Estádio Joaquim Henrique Nogueira-Arena do jacaré
13,4.6,664,-19.845021,-44.039526,58229.017383,Arena Gregorão
14,4.8,4606,-19.930597,-44.017211,60922.674948,Arena MRV
15,4.6,42,-19.796146,-43.979343,64953.499235,Estádio das Alterosas
16,4.7,79511,-19.865867,-43.971131,65330.494731,Mineirão
17,4.5,871,-19.898881,-43.940572,68615.953545,Field Inconfidencia
18,4.4,18858,-19.908771,-43.918001,71035.712723,Arena Independência
19,4.2,684,-19.988129,-43.844975,79657.296060,Mun Stadium. Castor Cifuentes

# 2. Data Prediction

In [ ]:
def upload_errors(pred_col, train_cols, strategy, sectors, abs_errors, params = None):

    # Garante que teremos apenas 6 casas decimais
    abs_errors = [round(x,6) for x in abs_errors]

    # Calcular o Mean Absolute Error (MAE)
    mae = mean_absolute_error(y_true=np.zeros_like(abs_errors), y_pred=np.array(abs_errors))

    # Calcular o Root Mean Squared Error (RMSE)
    rmse = mean_squared_error(y_true=np.zeros_like(abs_errors), y_pred=np.array(abs_errors), squared=False)

    with mlflow.start_run(run_name=train_cols):

        df_abs = pd.DataFrame(abs_errors, columns = ['errors'])

        # Parameters
        mlflow.log_param("pred_col", unidecode(pred_col))
        mlflow.log_param("train_cols", unidecode(train_cols))
        mlflow.log_param("strategy", unidecode(strategy))
        mlflow.log_param("sector", unidecode(sectors))

        # Error Metrics
        mlflow.log_metric("MAE", round(mae, 6))
        mlflow.log_metric("RMSE", round(rmse, 6))
        mlflow.log_metric("mean", df_abs.describe().values[1][0])
        mlflow.log_metric("std", df_abs.describe().values[2][0])
        mlflow.log_metric("min", df_abs.describe().values[3][0])
        mlflow.log_metric("25 pct.", df_abs.describe().values[4][0])
        mlflow.log_metric("50 pct.", df_abs.describe().values[5][0])
        mlflow.log_metric("75 pct.", df_abs.describe().values[6][0])
        mlflow.log_metric("max", df_abs.describe().values[7][0])

        # Machine Learning Params
        mlflow.log_metric("n_estimators", 0.0 if params == None else params["n_estimators"])
        mlflow.log_metric("learning_rate", 0.0 if params == None else params["learning_rate"])
        mlflow.log_metric("max_depth", 0.0 if params == None else params["max_depth"])
        mlflow.log_metric("min_child_weight", 0.0 if params == None else params["min_child_weight"])
        mlflow.log_metric("colsample_bytree", 0.0 if params == None else params["colsample_bytree"])

def get_possibilities(target_column, training_columns):

    possibilities = []
    for L in range(len(training_columns) + 1):
        for subset in itertools.combinations(training_columns, L):
            possibilities.append([target_column] + list(subset))

    possibilities.reverse()

    return list(filter(lambda x: len(x) > 4, possibilities))

def filtra_tipo(df_history, df_funds, tipo):

    tickers = list(df_funds['Ticker'].values)

    if tipo == "Papel":
        tickers = list(df_funds[(df_funds["Setor"] == "Títulos e Val. Mob.")]['Ticker'].values)
    elif tipo == "Hibrido":
        tickers = list(df_funds[(df_funds["Setor"] == "Híbrido")]['Ticker'].values)
    elif tipo == "Tijolo":
        tickers = list(df_funds[(df_funds["Setor"] != "Títulos e Val. Mob.") & (df_funds["Setor"] != "Híbrido")]['Ticker'].values)

    return df_history[df_history['Ticker'].isin(tickers)]

def train_test_split(data, perc):

    data = data.values
    n = int(len(data) * (1 - perc))
    return data[:n], data[n:]

def arima_predict(df_history, fundo, pred_col, pred_index = 1):

    df = df_history[df_history['Ticker'] == fundo].copy()
    df['Target'] = df[pred_col].shift(-pred_index)
    df = df[[pred_col, 'Target']]
    df.dropna(inplace=True)

    y_pred = []
    train, test = train_test_split(df, 0.4) # 60% de treino

    # cria a variável history
    history = [x[0] for x in train]

    for i in range(len(test)):
        test_X, test_y = test[i, :-1], test[i, -1]

        # O arima deverá considerar apenas o valor da coluna principal
        model = SARIMAX(history, order=(1,1,1), maxiter=1000)
        resultado_sarimax = model.fit()

        # Obtém a predição de {pred_index} meses à frente
        output = resultado_sarimax.get_forecast(steps=pred_index)

        # Obtém a predição do mês de interesse
        pred = output.predicted_mean[pred_index-1]

        y_pred.append(pred)
        history.append(test[i][0])

    y_real = test[:, -1]

    yhat = round(y_pred[0],2)
    abs_error = list(np.abs(y_real - y_pred))

    return yhat, abs_error

def model_predict(train, test_X, val_X, val_y, model):

    train = np.array(train)
    val_y = np.array([val_y])
    val_X = np.array([val_X])
    test_X = np.array([test_X])

    X, y = train[:, :-1], train[:, -1]

    if(len(val_X) > 0):
        model.fit(X, y, eval_set=[(X,y),(val_X,val_y)], verbose=0)
    else:
        model.fit(X, y)

    pred = model.predict(test_X)

    return pred[0]

def machinelearn_predict(df_history, fundo, pred_col, train_cols, params, pred_index = 1):

    df = df_history[df_history['Ticker'] == fundo][train_cols].copy()
    df["Target"] = df[pred_col].shift(-pred_index)
    df.dropna(inplace=True)

    model = None
    y_pred = []
    train, test = train_test_split(df, 0.4) # 60% de treino

    history = [x for x in train]

    for i in range(len(test) - 1):

        val_X, val_y = test[i, :-1], test[i, -1]
        test_X, test_y = test[i + 1, :-1], test[i + 1, -1]

        model = XGBRegressor()
        model.set_params(**params)

        pred = model_predict(history, test_X, val_X, val_y, model)

        y_pred.append(pred)

        history.append(test[i])

    y_real = test[1:, -1]

    yhat = round(y_pred[0],2)
    abs_error = list(np.abs(y_real - y_pred))

    return yhat, abs_error

In [ ]:
# Gera as cópias
df_funds = df_funds_202212.copy()
df_adress = df_adress_202212.copy()
df_history = df_history_202212.copy()

In [ ]:
sectors = pd.merge(df_funds, df_history, on='Ticker')["Setor"].unique()
existent_experiments = []

try:
  existent_experiments = list(get_experiments_result(experiment_name)["params.train_cols"])
except:
  print("Nenhum experimento foi encontrado")

print("\n - ".join(["SETORES EXISTENTES:"] + list(sectors)))

In [ ]:
pred_column = 'CloseChange'
best_combinations = [['CloseChange','Close','DividendYield','DividendsChange','DividendYieldChange','SectorDividendsChangeMean','Selic','IPCA'],['CloseChange','Close','DividendYield','DividendsChange','DividendYieldChange','SectorDividendsChangeMean','Selic','IPCA','IFIX'],['CloseChange','DividendYield','DividendYieldChange','SectorDividendsChangeMean','IPCA','IFIX'],['CloseChange','DividendYield','DividendYieldChange','SectorDividendsChangeMean','Selic','IPCA'],['CloseChange','DividendYield','DividendYieldChange','SectorDividendsChangeMean','IPCA'],['CloseChange','DividendYieldChange','SectorDividendsChangeMean','Selic','IFIX'],['CloseChange','DividendYield','DividendYieldChange','SectorDividendsChangeMean','Selic','IPCA','IFIX'],['CloseChange','DividendsChange','DividendYieldChange','SectorDividendsChangeMean','Selic','IFIX'],['CloseChange','Close','DividendYield','DividendsChange','DividendYieldChange','SectorDividendsChangeMean','Selic','IFIX'],['CloseChange','Close','DividendYield','DividendsChange','SectorDividendsChangeMean','Selic','SectorCloseChangeMean'],['CloseChange','DividendsChange','DividendYieldChange','SectorDividendsChangeMean','IFIX','SectorCloseChangeMean'],['CloseChange','Close','DividendYield','DividendsChange','DividendYieldChange','SectorDividendsChangeMean','IPCA','SectorCloseChangeMean'],['CloseChange','DividendYieldChange','SectorDividendsChangeMean','Selic','IPCA','IFIX','SectorCloseChangeMean'],['CloseChange','DividendsChange','SectorDividendsChangeMean','Selic','IFIX','SectorCloseChangeMean'],['CloseChange','Close','DividendYield','DividendsChange','DividendYieldChange','SectorDividendsChangeMean','Selic','IPCA','IFIX','SectorCloseChangeMean'],['CloseChange','Close','DividendsChange','DividendYieldChange','SectorDividendsChangeMean','IGPM','IFIX'],['CloseChange','DividendsChange','DividendYieldChange','SectorDividendsChangeMean','IGPM','IFIX','SectorCloseChangeMean'],['CloseChange','DividendsChange','SectorDividendsChangeMean','IPCA','IGPM','SectorCloseChangeMean'],['CloseChange','Close','DividendYield','DividendsChange','DividendYieldChange','SectorDividendsChangeMean','IPCA','IGPM','IFIX'],['CloseChange','Close','DividendYield','DividendsChange','DividendYieldChange','SectorDividendsChangeMean','IGPM','IFIX'],['CloseChange','Close','DividendYield','DividendsChange','DividendYieldChange','SectorDividendsChangeMean','IPCA','IGPM','SectorCloseChangeMean'],['CloseChange','Close','DividendYield','DividendYieldChange','SectorDividendsChangeMean','Selic','IPCA','IGPM','IFIX'],['CloseChange','Close','DividendYield','DividendsChange','SectorDividendsChangeMean','Selic','IGPM','IFIX'],['CloseChange','Close','DividendYield','DividendsChange','SectorDividendsChangeMean','IPCA','IGPM','IFIX','SectorCloseChangeMean'],['CloseChange','Close','DividendYield','DividendsChange','SectorDividendsChangeMean','Selic','IPCA','IGPM','IFIX'],['CloseChange','Close','DividendYield','DividendYieldChange','SectorDividendsChangeMean','Selic','IPCA','IGPM'],['CloseChange','Close','DividendYield','DividendsChange','DividendYieldChange','SectorDividendsChangeMean','IGPM','SectorCloseChangeMean'],['CloseChange','DividendYield','DividendsChange','DividendYieldChange','SectorDividendsChangeMean','IGPM','IFIX'],['CloseChange','DividendYield','SectorDividendsChangeMean','IPCA','IGPM','IFIX','SectorCloseChangeMean'],['CloseChange','DividendYield','DividendsChange','DividendYieldChange','SectorDividendsChangeMean','IPCA','IGPM','SectorCloseChangeMean'],['CloseChange','DividendYield','DividendsChange','DividendYieldChange','SectorDividendsChangeMean','Selic','IGPM','IFIX'],['CloseChange','Close','DividendYield','DividendYieldChange','SectorDividendsChangeMean','IPCA','IGPM','IFIX','SectorCloseChangeMean'],['CloseChange','DividendYield','DividendsChange','DividendYieldChange','SectorDividendsChangeMean','IGPM','IFIX','SectorCloseChangeMean'],['CloseChange','Close','DividendsChange','DividendYieldChange','SectorDividendsChangeMean','IPCA','IFIX','SectorCloseChangeMean'],['CloseChange','DividendYield','DividendsChange','SectorDividendsChangeMean','IGPM','SectorCloseChangeMean'],['CloseChange','Close','DividendYield','DividendsChange','DividendYieldChange','SectorDividendsChangeMean','Selic','IGPM','SectorCloseChangeMean'],['CloseChange','DividendYield','DividendsChange','SectorDividendsChangeMean','Selic','IGPM'],['CloseChange','DividendYield','DividendsChange','DividendYieldChange','Selic','IGPM','IFIX','SectorCloseChangeMean'],['CloseChange','DividendYield','DividendsChange','SectorDividendsChangeMean','Selic','IGPM','IFIX','SectorCloseChangeMean'],['CloseChange','DividendYield','DividendsChange','SectorDividendsChangeMean','Selic','SectorCloseChangeMean'],['CloseChange','DividendYield','DividendsChange','SectorDividendsChangeMean','IPCA','IGPM','SectorCloseChangeMean'],['CloseChange','DividendYield','DividendYieldChange','SectorDividendsChangeMean','IGPM','SectorCloseChangeMean'],['CloseChange','SectorDividendsChangeMean','Selic','IGPM','IFIX','SectorCloseChangeMean'],['CloseChange','SectorDividendsChangeMean','Selic','IGPM','IFIX'],['CloseChange','SectorDividendsChangeMean','Selic','IGPM','SectorCloseChangeMean'],['CloseChange','DividendYield','DividendYieldChange','SectorDividendsChangeMean','Selic','IGPM','IFIX','SectorCloseChangeMean'],['CloseChange','DividendsChange','DividendYieldChange','SectorDividendsChangeMean','IFIX'],['CloseChange','DividendsChange','SectorDividendsChangeMean','IGPM','IFIX','SectorCloseChangeMean'],['CloseChange','Close','DividendsChange','DividendYieldChange','Selic','IGPM','IFIX'],['CloseChange','DividendYield','DividendsChange','DividendYieldChange','SectorDividendsChangeMean','Selic','IFIX','SectorCloseChangeMean'],['CloseChange','Close','DividendYield','DividendsChange','DividendYieldChange','SectorDividendsChangeMean','Selic','IPCA','IGPM'],['CloseChange','Close','DividendYield','DividendsChange','DividendYieldChange','SectorDividendsChangeMean','Selic','IPCA','IGPM','IFIX'],['CloseChange','DividendYield','DividendYieldChange','SectorDividendsChangeMean','IPCA','IFIX','SectorCloseChangeMean'],['CloseChange','DividendYield','DividendYieldChange','SectorDividendsChangeMean','Selic','IPCA','SectorCloseChangeMean'],['CloseChange','Close','DividendYield','DividendsChange','SectorDividendsChangeMean','Selic','IPCA','IFIX'],['CloseChange','Close','DividendYield','DividendsChange','DividendYieldChange','SectorDividendsChangeMean','IPCA','IFIX'],['CloseChange','DividendYieldChange','SectorDividendsChangeMean','IFIX','SectorCloseChangeMean'],['CloseChange','DividendYieldChange','SectorDividendsChangeMean','IGPM','SectorCloseChangeMean'],['CloseChange','DividendYieldChange','SectorDividendsChangeMean','SectorCloseChangeMean'],['CloseChange','DividendYieldChange','SectorDividendsChangeMean','IPCA','IFIX'],['CloseChange','DividendYieldChange','SectorDividendsChangeMean','IPCA','SectorCloseChangeMean'],['CloseChange','DividendYieldChange','SectorDividendsChangeMean','Selic'],['CloseChange','SectorDividendsChangeMean','IFIX','SectorCloseChangeMean'],['CloseChange','DividendsChange','SectorDividendsChangeMean','Selic'],['CloseChange','Close','DividendYieldChange','SectorDividendsChangeMean','IGPM','IFIX']]
possibilities = get_possibilities(pred_column, (['Close','DividendYield','DividendsChange','DividendYieldChange','SectorDividendsChangeMean','SectorCloseChangeMean','Selic','IPCA','IGPM','IFIX']))

if janela_treino == 6:
    pred_column = 'CloseChange6M'
    best_combinations = [['CloseChange6M','Close','DividendYield','DividendsChange6M','DividendYieldChange6M','SectorDividendsChangeMean','Selic','IPCA'],['CloseChange6M','Close','DividendYield','DividendsChange6M','DividendYieldChange6M','SectorDividendsChangeMean','Selic','IPCA','IFIX'],['CloseChange6M','DividendYield','DividendYieldChange6M','SectorDividendsChangeMean','IPCA','IFIX'],['CloseChange6M','DividendYield','DividendYieldChange6M','SectorDividendsChangeMean','Selic','IPCA'],['CloseChange6M','DividendYield','DividendYieldChange6M','SectorDividendsChangeMean','IPCA'],['CloseChange6M','DividendYieldChange6M','SectorDividendsChangeMean','Selic','IFIX'],['CloseChange6M','DividendYield','DividendYieldChange6M','SectorDividendsChangeMean','Selic','IPCA','IFIX'],['CloseChange6M','DividendsChange6M','DividendYieldChange6M','SectorDividendsChangeMean','Selic','IFIX'],['CloseChange6M','Close','DividendYield','DividendsChange6M','DividendYieldChange6M','SectorDividendsChangeMean','Selic','IFIX'],['CloseChange6M','Close','DividendYield','DividendsChange6M','SectorDividendsChangeMean','Selic','SectorCloseChangeMean'],['CloseChange6M','DividendsChange6M','DividendYieldChange6M','SectorDividendsChangeMean','IFIX','SectorCloseChangeMean'],['CloseChange6M','Close','DividendYield','DividendsChange6M','DividendYieldChange6M','SectorDividendsChangeMean','IPCA','SectorCloseChangeMean'],['CloseChange6M','DividendYieldChange6M','SectorDividendsChangeMean','Selic','IPCA','IFIX','SectorCloseChangeMean'],['CloseChange6M','DividendsChange6M','SectorDividendsChangeMean','Selic','IFIX','SectorCloseChangeMean'],['CloseChange6M','Close','DividendYield','DividendsChange6M','DividendYieldChange6M','SectorDividendsChangeMean','Selic','IPCA','IFIX','SectorCloseChangeMean'],['CloseChange6M','Close','DividendsChange6M','DividendYieldChange6M','SectorDividendsChangeMean','IGPM','IFIX'],['CloseChange6M','DividendsChange6M','DividendYieldChange6M','SectorDividendsChangeMean','IGPM','IFIX','SectorCloseChangeMean'],['CloseChange6M','DividendsChange6M','SectorDividendsChangeMean','IPCA','IGPM','SectorCloseChangeMean'],['CloseChange6M','Close','DividendYield','DividendsChange6M','DividendYieldChange6M','SectorDividendsChangeMean','IPCA','IGPM','IFIX'],['CloseChange6M','Close','DividendYield','DividendsChange6M','DividendYieldChange6M','SectorDividendsChangeMean','IGPM','IFIX'],['CloseChange6M','Close','DividendYield','DividendsChange6M','DividendYieldChange6M','SectorDividendsChangeMean','IPCA','IGPM','SectorCloseChangeMean'],['CloseChange6M','Close','DividendYield','DividendYieldChange6M','SectorDividendsChangeMean','Selic','IPCA','IGPM','IFIX'],['CloseChange6M','Close','DividendYield','DividendsChange6M','SectorDividendsChangeMean','Selic','IGPM','IFIX'],['CloseChange6M','Close','DividendYield','DividendsChange6M','SectorDividendsChangeMean','IPCA','IGPM','IFIX','SectorCloseChangeMean'],['CloseChange6M','Close','DividendYield','DividendsChange6M','SectorDividendsChangeMean','Selic','IPCA','IGPM','IFIX'],['CloseChange6M','Close','DividendYield','DividendYieldChange6M','SectorDividendsChangeMean','Selic','IPCA','IGPM'],['CloseChange6M','Close','DividendYield','DividendsChange6M','DividendYieldChange6M','SectorDividendsChangeMean','IGPM','SectorCloseChangeMean'],['CloseChange6M','DividendYield','DividendsChange6M','DividendYieldChange6M','SectorDividendsChangeMean','IGPM','IFIX'],['CloseChange6M','DividendYield','SectorDividendsChangeMean','IPCA','IGPM','IFIX','SectorCloseChangeMean'],['CloseChange6M','DividendYield','DividendsChange6M','DividendYieldChange6M','SectorDividendsChangeMean','IPCA','IGPM','SectorCloseChangeMean'],['CloseChange6M','DividendYield','DividendsChange6M','DividendYieldChange6M','SectorDividendsChangeMean','Selic','IGPM','IFIX'],['CloseChange6M','Close','DividendYield','DividendYieldChange6M','SectorDividendsChangeMean','IPCA','IGPM','IFIX','SectorCloseChangeMean'],['CloseChange6M','DividendYield','DividendsChange6M','DividendYieldChange6M','SectorDividendsChangeMean','IGPM','IFIX','SectorCloseChangeMean'],['CloseChange6M','Close','DividendsChange6M','DividendYieldChange6M','SectorDividendsChangeMean','IPCA','IFIX','SectorCloseChangeMean'],['CloseChange6M','DividendYield','DividendsChange6M','SectorDividendsChangeMean','IGPM','SectorCloseChangeMean'],['CloseChange6M','Close','DividendYield','DividendsChange6M','DividendYieldChange6M','SectorDividendsChangeMean','Selic','IGPM','SectorCloseChangeMean'],['CloseChange6M','DividendYield','DividendsChange6M','SectorDividendsChangeMean','Selic','IGPM'],['CloseChange6M','DividendYield','DividendsChange6M','DividendYieldChange6M','Selic','IGPM','IFIX','SectorCloseChangeMean'],['CloseChange6M','DividendYield','DividendsChange6M','SectorDividendsChangeMean','Selic','IGPM','IFIX','SectorCloseChangeMean'],['CloseChange6M','DividendYield','DividendsChange6M','SectorDividendsChangeMean','Selic','SectorCloseChangeMean'],['CloseChange6M','DividendYield','DividendsChange6M','SectorDividendsChangeMean','IPCA','IGPM','SectorCloseChangeMean'],['CloseChange6M','DividendYield','DividendYieldChange6M','SectorDividendsChangeMean','IGPM','SectorCloseChangeMean'],['CloseChange6M','SectorDividendsChangeMean','Selic','IGPM','IFIX','SectorCloseChangeMean'],['CloseChange6M','SectorDividendsChangeMean','Selic','IGPM','IFIX'],['CloseChange6M','SectorDividendsChangeMean','Selic','IGPM','SectorCloseChangeMean'],['CloseChange6M','DividendYield','DividendYieldChange6M','SectorDividendsChangeMean','Selic','IGPM','IFIX','SectorCloseChangeMean'],['CloseChange6M','DividendsChange6M','DividendYieldChange6M','SectorDividendsChangeMean','IFIX'],['CloseChange6M','DividendsChange6M','SectorDividendsChangeMean','IGPM','IFIX','SectorCloseChangeMean'],['CloseChange6M','Close','DividendsChange6M','DividendYieldChange6M','Selic','IGPM','IFIX'],['CloseChange6M','DividendYield','DividendsChange6M','DividendYieldChange6M','SectorDividendsChangeMean','Selic','IFIX','SectorCloseChangeMean'],['CloseChange6M','Close','DividendYield','DividendsChange6M','DividendYieldChange6M','SectorDividendsChangeMean','Selic','IPCA','IGPM'],['CloseChange6M','Close','DividendYield','DividendsChange6M','DividendYieldChange6M','SectorDividendsChangeMean','Selic','IPCA','IGPM','IFIX'],['CloseChange6M','DividendYield','DividendYieldChange6M','SectorDividendsChangeMean','IPCA','IFIX','SectorCloseChangeMean'],['CloseChange6M','DividendYield','DividendYieldChange6M','SectorDividendsChangeMean','Selic','IPCA','SectorCloseChangeMean'],['CloseChange6M','Close','DividendYield','DividendsChange6M','SectorDividendsChangeMean','Selic','IPCA','IFIX'],['CloseChange6M','Close','DividendYield','DividendsChange6M','DividendYieldChange6M','SectorDividendsChangeMean','IPCA','IFIX'],['CloseChange6M','DividendYieldChange6M','SectorDividendsChangeMean','IFIX','SectorCloseChangeMean'],['CloseChange6M','DividendYieldChange6M','SectorDividendsChangeMean','IGPM','SectorCloseChangeMean'],['CloseChange6M','DividendYieldChange6M','SectorDividendsChangeMean','SectorCloseChangeMean'],['CloseChange6M','DividendYieldChange6M','SectorDividendsChangeMean','IPCA','IFIX'],['CloseChange6M','DividendYieldChange6M','SectorDividendsChangeMean','IPCA','SectorCloseChangeMean'],['CloseChange6M','DividendYieldChange6M','SectorDividendsChangeMean','Selic'],['CloseChange6M','SectorDividendsChangeMean','IFIX','SectorCloseChangeMean'],['CloseChange6M','DividendsChange6M','SectorDividendsChangeMean','Selic'],['CloseChange6M','Close','DividendYieldChange6M','SectorDividendsChangeMean','IGPM','IFIX']]
    possibilities = get_possibilities(pred_column, (['Close','DividendYield','DividendsChange6M','DividendYieldChange6M','SectorDividendsChangeMean','SectorCloseChangeMean','Selic','IPCA','IGPM','IFIX']))

print(str(len(possibilities)) + " possibilidades serão avaliadas")

In [ ]:
papel = list(filtra_tipo(df_history, df_funds, 'Papel').Ticker.unique())
tijolo = list(filtra_tipo(df_history, df_funds, 'Tijolo').Ticker.unique())
hibrido = list(filtra_tipo(df_history, df_funds, 'Hibrido').Ticker.unique())

In [ ]:
df_history = filtra_tipo(df_history, df_funds, tipo_interesse)
df_history = remove_big_variations(df_history, {pred_column: 2})

In [ ]:
if tipo_interesse == 'Individual':

    params = {"n_estimators" : 4000, "early_stopping_rounds" : 100, "learning_rate": 0.1, "max_depth": 6,"min_child_weight" : 1,"colsample_bytree" : 0.4}

    for i, fundo in enumerate(df_history["Ticker"].unique()):

        for j, array_possibility in enumerate(possibilities):

            string_possibility =  fundo + ": " + ", ".join(array_possibility)

            print('Calculating "'+ string_possibility + '": ' + str(j+1) + '/' + str(len(possibilities)))

            if string_possibility not in existent_experiments:

                prediction, abs_err = machinelearn_predict(df_history, fundo, pred_column, array_possibility, params, janela_treino)

                upload_errors(pred_column, string_possibility, 'Xgboost', fundo, abs_err, params)

In [ ]:
if True:

    params = {"n_estimators" : 4000, "early_stopping_rounds" : 100, "learning_rate": 0.1, "max_depth": 6,"min_child_weight" : 1,"colsample_bytree" : 0.4}

    for j, array_possibility in enumerate(possibilities):

        abs_errors = []
        string_possibility =  ", ".join(array_possibility)

        print('Calculating "'+ string_possibility + '": ' + str(j+1) + '/' + str(len(possibilities)))

        if string_possibility not in existent_experiments:

            for i, fundo in enumerate(df_history["Ticker"].unique()):

                print("Calculating errors of "+ fundo + ": " + str(i+1) + "/" + str(len(df_history["Ticker"].unique())))

                prediction, abs_err = machinelearn_predict(df_history, fundo, pred_column, array_possibility, params, janela_treino)
                abs_errors = abs_errors + abs_err

            upload_errors(pred_column, string_possibility, 'Xgboost', ', '.join(sectors), abs_errors, params)

In [ ]:
if False:

    abs_errors = []

    if pred_column not in existent_experiments:

        print('Calculating ARIMA...')

        for i, fundo in enumerate(df_history["Ticker"].unique()):

            print("Calculating errors of "+ fundo + ": " + str(i+1) + "/" + str(len(df_history["Ticker"].unique())))

            prediction, abs_err = arima_predict(df_history, fundo, pred_column, janela_treino)
            abs_errors = abs_errors + abs_err

        upload_errors(pred_column, pred_column, 'Arima', ', '.join(sectors), abs_errors)

In [ ]:
if False:
    janela_treino = 6

    for tipo in ['Geral', 'Papel', 'Tijolo', 'Hibrido']:

        tipo_interesse = tipo

        experiment_name = f'{last_month}-{tipo_interesse}-{janela_treino}M'
        mlflow.set_tracking_uri(f'https://dagshub.com/' + os.environ['MLFLOW_TRACKING_USERNAME'] + '/' + os.environ['MLFLOW_TRACKING_PROJECTNAME'] + '.mlflow')
        mlflow_experiment = mlflow.set_experiment(experiment_name)

        # Gera as cópias
        df_funds = df_funds_202212.copy()
        df_adress = df_adress_202212.copy()
        df_history = df_history_202212.copy()

        pred_column = 'CloseChange'

        if janela_treino == 6:
            pred_column = 'CloseChange6M'

        df_history = filtra_tipo(df_history, df_funds, tipo_interesse)
        df_history = remove_big_variations(df_history, {pred_column: 2})
        sectors = pd.merge(df_funds, df_history, on='Ticker')["Setor"].unique()

        abs_errors = []

        print('Calculating ARIMA...')

        for i, fundo in enumerate(df_history["Ticker"].unique()):

            print("Calculating errors of "+ fundo + ": " + str(i+1) + "/" + str(len(df_history["Ticker"].unique())))

            prediction, abs_err = arima_predict(df_history, fundo, pred_column, janela_treino)
            abs_errors = abs_errors + abs_err

        upload_errors(pred_column, pred_column, 'Arima', ', '.join(sectors), abs_errors)